:root {
    --border-color: #fcac45;
    --font-color: #6c6c6c;
    --font-color-2: #e7e7e7;
}
.main-heading {
    font-family: "OpenSans-ExtraBold";
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}
.navbarToggle {
    color: white !important;
}
.navbar__btn {
    color: white !important;
    background-color: inherit;
    border: none !important;
    font-size: 1.5rem;
    outline: none !important;
}
.navbar {
    align-items: baseline !important;
} 
.main-heading:hover {
    color: var(--border-color) !important;
}
.header {
    color: white;
    background-color: #111111;
    font-size: 0.9rem !important;
}
.c-pointer {
    cursor: pointer;
}
.f-bold {
    font-family: "OpenSans-Bold";
}
.f-regular {
    font-family: "OpenSans-Regular";
}
.f-sb {
    font-family: "OpenSans-Semibold";
}
.f-osl {
    font-family: "OpenSans-Light";
}
.items-border {
    border-bottom: 3px solid black;
}
.items-border:hover {
    border-color: var(--border-color);
}
.article__heading {
    color: #999999;
    font-family: "OpenSans-Light";
    font-size: 2.7rem;
}
.article__heading > span {
    font-family: "OpenSans-Bold";
    color: var(--border-color);
}
.header__article {
    padding-bottom: 15rem !important;
    padding-top: 11rem !important;
}
.article__signature {
    color: #999999;
    font-size: 1.1rem !important;
}
.article__signature > b {
    color: white;
}
.section__heading {
    font-family: "OpenSans-Semibold";
}
.headingBorder {
    border-bottom: 4px var(--border-color) solid;
    width: 100px;
}
.section__list {
    list-style-image: url(../img/scin.png);
}
.section-black {
    background-color: black;
    color: white !important;
}
.team__img {
    max-width: 130px;
}
.fs-09 {
    font-size: 0.9rem;
}
.fs-16 {
    font-size: 1.6rem;
}
.fs-11 {
    font-size: 1.1rem;
}
.services__img {
    max-width: 125px;
}
.navbar-nav {
     justify-content: flex-end;
}
.fifth-section-row > img {
    max-width: 11rem;
}
.f-default-color {
    color: var(--font-color);
}
.f-default-color-2 {
    color: var(--font-color-2);
}




@font-face {
    font-family: "OpenSans-ExtraBold";
    src: local("OpenSans-ExtraBold"),
        url("../fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
    font-family: "OpenSans-Bold";
    src: local("OpenSans-Bold"),
        url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "OpenSans-Light";
    src: local("OpenSans-Light"),
        url("../fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: "OpenSans-Semibold";
    src: local("OpenSans-Semibold"),
        url("../fonts/OpenSans-Semibold.ttf");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: local("OpenSans-Regular"),
        url("../fonts/OpenSans-Regular.ttf");
}